.searchNav{
  padding-right: 50px;
  .searchNavLists{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-conbtent: center;
    background-color: $gray;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    .searchNavListsChoice{
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 280px;
        height: 48px;
        padding: 0 16px;
        border-style: solid;
        border-width: 0;
        border: 1px solid #ccc;
        background-color: white;
      }
    }
    .searchNavListsSearch{
      padding: 16px;
      margin-top: 40px;
      background-color: white;
      h3{
        font-size: 16px;
        font-weight: bold;
      }
      .searchNavListsSearchKeyword{
        // display: block;
        label{
          font-weight: 550;
        }
        input{
          width: 214px;
          height: 28px;
          padding: 10px 16px 8px;
          margin-top: 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      .searchNavListsSearchCategory{
        margin-top: 40px;
        label{
          font-weight: 550;
        }
        .searchNavListsSearchLargeCategory{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 248px;
          height: 48px;
          padding: 0 16px;
          border-style: solid;
          border-width: 0;
          border: 1px solid #ccc;
          background-color: white;
        }
        .searchNavListsSearchMiddleCategory{
          -webkit-appearance: none;
          -moz-appearance: none;
          margin-top: 10px;
          appearance: none;
          width: 248px;
          height: 48px;
          padding: 0 16px;
          border-style: solid;
          border-width: 0;
          border: 1px solid #ccc;
          background-color: white;
        }
        .searchNavListsSearchSmallCategory{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-size: 12px;
          font-weight: 400;
          vertical-align: middle;
          cursor: pointer;
          margin-top: 10px;
          .smallCategoryCheckbox{
            margin-top: 5px;
          }
        }
      }
      .searchNavListsSearchBrand{
        margin-top: 40px;
        label{
          font-weight: 550;
        }
        .searchNavListsSearchBrandBox{
          width: 248px;
          height: 48px;
          padding: 10px 16px 8px;
          margin-top: 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }

      .searchNavListsSearchSize{
        margin-top: 40px;
        label{
          font-weight: 550;
        }
        select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 248px;
        height: 48px;
        padding: 0 16px;
        border-style: solid;
        border-width: 0;
        border: 1px solid #ccc;
        background-color: white;
        }
        .suitSize{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          section{
            width: 119px;
            padding: 20px, 0;
            input{
              width: 12px;
              height: 12px;
            }
            label{
              font-size: 12px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
      }

      .searchNavListsSearchPrice{
        margin-top: 40px;
        label{
          font-weight: 550;
        }
        select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 248px;
        height: 48px;
        padding: 0 16px;
        border-style: solid;
        border-width: 0;
        border: 1px solid #ccc;
        background-color: white;
        }
        .searchNavListsSearchPriceInput{
          display: flex;
          flex-direction: row;
          .searchNavListsSearchPriceInputBox{

            .searchPrice{
            width: 110px;
            height: 40px;
            margin-top: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
            text-align: center;
            }
            .searchNavListsSearchPriceInputLine{
              width:24px;
              height:14px;
              width: 10%;
              font-size: 17px;
              text-align: center;
              padding-top: 10px;
              margin: 0 10px;
            }
          }
        }
      }

      .searchNavListsSearchState{
        margin-top: 40px;
        label{
          font-weight: 550;
          .searchNavListsSearchStateCheckBox{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &All{
              width: 119px;
              input{
                width: 12px;
                height: 12px;
              }
              label{
                font-size: 14px;
                font-weight: 400;
                vertical-align: middle;
                cursor: pointer;
              }
            }
            &New{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
              }
            &CloseToUnused{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
              }
            &ScratchLight{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
              }
            &ScratchHeavy{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
              }
            &Scratch{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
              }
            &Bed{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
      }

      .searchNavListsSearchBurden{
        margin-top: 40px;
        label{
          font-weight: 550;
          .searchNavListsSearchBurdenCheckBox{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &All{
              width: 119px;
              input{
                width: 12px;
                height: 12px;
              }
              label{
                font-size: 14px;
                font-weight: 400;
                vertical-align: middle;
                cursor: pointer;
              }
            }
            &NoFreight{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
            &IncludeFreight{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
      }

      .searchNavListsSearchSchedule{
        margin-top: 40px;
        label{
          font-weight: 550;
          .searchNavListsSearchScheduleCheckBox{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &All{
              width: 119px;
              input{
                width: 12px;
                height: 12px;
              }
              label{
                font-size: 14px;
                font-weight: 400;
                vertical-align: middle;
                cursor: pointer;
              }
            }
            &Sale{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
            &Sold{
              width: 119px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
      }
      .searchNavListsSearchBtn{
        height: 50px;
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &Clear{
          width: 109px;
          height: 48px;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          display: block;
          cursor: pointer;
          text-align: center;
          font-size: 15px;
          margin-right: 10px;
        }
        &Complete{
          width: 109px;
          height: 48px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          cursor: pointer;
          text-align: center;
          font-size: 15px;
          margin-left: 10px;
        }
      }
    }
  }
}
